body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 400px;
    width: 250px;
    margin: 15px;
}
header{
    background-image: url("netflix-brand-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.image{
    width: 100%;
  height: auto;
}
.logo{
    margin: 0px;
}
.logo-img{
    width: 100%;
    max-width: 230px;
    height: auto;
    /* mix-blend-mode: soft-light; */
}